<% include ../layout/head.ejs%>

<body>

<div class="container">
    <% include ../layout/nav.ejs %>
</div>
<div class="home-body">
    <h1 class="home-text"> Home of all the information on Formula 1 you could ever need.</h1>
</div>

</body>