<% include ../layout/head.ejs%>

<body>
    <div class="container">
        <% include ../layout/nav.ejs %>
        <div class="jumbotron">
            <h1> what ever you want </h1>

        </div>
    <ul>
        <% allSeasons.forEach(function (individualSeason) { %>
            <li>
                <%= individualSeason.season %> - <a href="<%= individualSeason.url %>" > View on Wiki </a>
            </li>
        <%})%>
    </ul>
    </div>

</body>