<div class="header clearfix">
    <nav class="nav">
        <a href="/"><img class="headerimg" src="/assets/F1_logo.png"></a>
        <ul class="pull-right">
            <a class="bar-buttons" href="/seasons">Seasons</a>
            <a class="bar-buttons" href="/rankings">Drivers</a>
            <a class="bar-buttons" href="/circuits">Circuits</a>
        </ul>
    </nav>
</div>